@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*RESET*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#introduction, #inspiration, #organization, #creativity-design, #productivity, #storage, footer{
    width: 80vw;
    padding: 2%;
}

h1{
    margin: 0;
}

/*HEADER*/

/*-- Header/ Nav Menú --*/

.active{
    background-color: #E9CBFF;
    color: #6E0FCC;
    border-radius: 0.7rem;
}


.header-content, .menu{
    display: flex; 
    justify-content: space-between; 
    list-style: none;
    align-items: center;
    padding: 0.5rem 0.6rem 0.6rem 1.5rem;
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
}

.menu-mobile{
    display: none;
}

/*-- Header/ Links Menú + Hover--*/


#pop-up, .menu-icon, .cerrar{
    display: none;
}


.menu li a{
    text-decoration: none;
    color: #000;
    padding: 0.3rem 0.6rem;
    font-weight: 400;
}

.menu li a:hover{
    background-color: #E9CBFF;
    color: #6E0FCC;
    border-radius: 0.7rem;
}

/*-- Header/ fondo blur + Logo --*/

.header-content{
    box-shadow: 0px 1.1rem 4.3rem rgba(0, 0, 0, 0.12); 
}

.logo{
    display: flex;
    align-items: center;
    width: 32px;
}

.logo img{
    width: 1.6rem;
    margin-top: 0.25rem;
}

.digitools{
    font-size: 1.8rem;
    font-weight: 700;
    color: #1E1E1E;
    text-decoration: none;
}
 
/*-- Main / Banner --*/

main .banner-section{
    padding: 4%;
    display: flex;
    align-items: center;
}

.banner-section #banner{
    width: 38rem;
    border-radius: 0.9rem;
    box-shadow: 0rem 0.3rem 1.25rem rgba(0, 0, 0, 0.10);
}

section h1{
    margin: 1.5rem 0rem;
}



/*---Header/ Títulos + Contenido + Botón Primario---*/

.banner-content{ 
    padding: 3.4rem;
}

h3{
    font-weight: 400;
    margin-bottom: 2.2rem;
    color: #2c2c2c;
}

.mobile-intro{
    display: none;
}

.btn-primary{
    text-decoration: none;
    background-color: #1E1E1E;
    border-radius: 0.5rem;
    padding: 0.6rem 1.25rem;
    color: #fff;
    transition: transform 0.5s ease-in-out;
}

.btn-primary:hover{
    background-color: #6E0FCC;
    transform: scale(1.04);
}

span{
    background-color: #E9CBFF;
    padding: 0.3rem 0.6rem;
    color: #6E0FCC;
    border-radius: 12px;
}


/*6 SECCIONES (Mismos estilos)*/

/*-- Sección Tarjetas + Tarjeta --*/

.cards{
    display: flex;
}

.card{
    width: 25rem;
    height: 32.5rem;
    margin-right: 2.5rem;
}

/*-- Tarjetas/ Imagenes Sitios Webs --*/

.card img{
    width: 22.5rem;
    margin-bottom: 1.25rem;
    border-radius: 0.9rem;
    box-shadow: 0rem 0rem 0.6rem 0.25rem rgb(0 0 0 / 11%);
    transition: transform 0.5s ease-in-out;
}

.card img:hover{
    transform: scale(1.04);
}

/*-- Tarjetas/ Logos + Nombres Sitios Webs --*/

.icon-name{
    display: flex;
    vertical-align: middle;
}

.icon-name img{
    width: 2.3rem;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    box-shadow: none;
}

.icon-name h2{
    margin: 0.2rem 0.6rem;
}


/*-- Tarjetas/ Lista de Características --*/

.card ul li:last-child{
    line-height: 1.5;
    margin-bottom: 10%;
}

.card .btn-primary{
    padding: 0.6rem 2rem;
}


/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    padding: 4%;
    background-color: #e7dcdc;  
    width: 100%;
}

/*-- Footer/ Foto de Perfil --*/

footer img{
    width: 80px;
    border-radius: 80px;
}

/*-- Footer/ Info Perfil y Fuentes (source) --*/

footer .profile a{
    text-decoration: none;
    background-color: #d7c4c4;
    color: #68181C;
    padding: 0.1rem 0.6rem;
    border-radius: 0.75rem;
}

footer .source a{
    text-decoration: none;
    line-height: 1.5;
    color: #1E1E1E;
    padding: 0.1rem 0.6rem;
    border-radius: 0.7rem;
}

footer .source a:hover{
    background-color: #d7c4c4;
    color: #68181C;
}

/* Form */
.form{
    padding: 4% 8%;
    align-items: center;
    text-align: center;
}


label{
    font-size: 1.1rem;
    padding: 1.8rem 0.6rem 0rem;
}

input {
    width: 18.7rem;
    padding: 0.6rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0rem 0rem 0.6rem 0.25rem rgb(0 0 0 / 11%);
}

input[type="submit"]{
    width: 9.3rem;
    background-color: #1E1E1E;
    color: #fff;
    cursor: pointer;
}

input:hover[type="submit"]{
    background-color: #6E0FCC;
}

/* RESPONSIVE Form */
@media (max-width: 576px) {
    
    input, select {
        padding: 0.7rem;
    }
    
    input[type="submit"] {
        padding: 0.7rem 1.25rem;
    }
}



/*RESPONSIVE*/



/*-- Dispositivos 1400px --*/
@media (max-width:1400px) {
    
    .banner-section #banner{
        width: 38rem;   
    }

/*-- Se mantiene: Header / Nav Menú y Links Menú + Hover --*/

/*-- Se mantiene: Header/ fondo blur + Logo --*/
    
/*-- Header/ Banner --*/

/*-- Se mantiene: Header/ Títulos + Contenido + Botón Primario --*/


/*6 SECCIONES (Mismos estilos)*/

/*-- Sección Tarjetas + Tarjeta --*/

    .card{
        margin-right: 1.8rem;
        width: 28rem;
    }

    /*-- Tarjetas/ Imagenes Sitios Webs --*/

    .card img{
        width: 25rem;
    }

/*-- Tarjetas/ Logos + Nombres Sitios Webs --*/


    .icon-name img{
        width: 2.3rem;
        border-radius: 0.5rem;
        margin-bottom: 0.3rem;
        box-shadow: none;
    }


    /*-- Se mantiene: Tarjetas/ Imagenes Sitios Webs --*/

    /*-- Se mantiene: Tarjetas/ Logos + Nombres Sitios Webs --*/

    /*-- Se mantiene: Tarjetas/ Lista de Características --*/


/*FOOTER*/

    /*-- Se mantiene: Footer/ Foto de Perfil --*/

    /*-- Se mantiene: Footer/ Info Perfil y Fuentes (source) --*/

}


/*-- Dispositivos 1300px --*/
@media (max-width:1300px) {
    /*6 SECCIONES (Mismos estilos)*/

    /*-- Sección Tarjetas + Tarjeta --*/

    .card{
        margin-right: 1.8rem;
        width: 23rem;
        margin-right: 2rem;
    }

    /*-- Tarjetas/ Imagenes Sitios Webs --*/

    .card img{
        width: 23rem;
    }

    /*-- Tarjetas/ Logos + Nombres Sitios Webs --*/

    .icon-name img{
        width: 2rem;
        height: 2rem;
        border-radius: 0.3rem;
        box-shadow: none;
    }

    .icon-name h2{
        margin: 3px 10px;
        font-size: 1.4rem;
    }
}


/*-- Dispositivos 1200px --*/
@media (max-width:1200px) {

/*-- Main / Banner --*/

    .banner-section #banner{
        width: 32rem;
    }

/*---Header/ Títulos + Contenido + Botón Primario---*/

    .banner-content{ 
        padding: 3rem;
    }

    h3{
        font-weight: 400;
        margin-bottom: 2.2rem;
        color: #2c2c2c;
        font-size: 1rem;
        text-align: center;
    }

/*DISPOSITVOS 1024px CARDS*/

@media (max-width:1024px) {
/*6 SECCIONES (Mismos estilos)*/

/*-- Sección Tarjetas + Tarjeta --*/

    .card{
        width: 18rem;
        height: 32.5rem;
        margin-right: 2rem;
    }

/*-- Tarjetas/ Imagenes Sitios Webs --*/

    .card img{
        width: 17rem;
        margin-bottom: 1.25rem;
        border-radius: 0.8rem;
        box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 11%);
    }

/*-- Tarjetas/ Logos + Nombres Sitios Webs --*/

    .icon-name img{
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        box-shadow: none;
    }

    .icon-name h2{
        margin: 3px 10px;
        font-size: 1.4rem;
    }

/*-- Se mantiene: Header/ Nav Menú --*/

/*-- Se mantiene: Header/ Links Menú + Hover--*/

/*-- Header/ fondo blur + Logo --*/
 
/*--- Se mantiene: Header/ Títulos + Contenido + Botón Primario---*/

/*-- Se mantiene: Tarjetas/ Lista de Características --*/

/*-- Se mantiene: Footer/ Foto de Perfil --*/

    }
}


/*-- Dispositivos 992px --*/
@media (max-width:992px) {

/*-- Se mantiene: Header/ Nav Menú --*/

/*-- Se mantiene: Header/ Links Menú + Hover--*/

/*-- Se mantiene: Header/ fondo blur + Logo --*/

 
/*-- Main / Banner --*/

.banner-section #banner{
    width: 29rem;
    border-radius: 0.8rem;
}


/*---Header/ Títulos + Contenido + Botón Primario---*/

.banner-content{ 
    padding: 3.2rem;
}

h3{
    font-weight: 500;
    font-size: 0.9rem;
}

.btn-primary{
    font-size: 0.9rem;
}

span{
    border-radius: 0.6rem;
}


/*6 SECCIONES (Mismos estilos)*/

/*-- Sección Tarjetas + Tarjeta --*/

.cards{
    display: flex;
}

.card{
    width: 16rem;
    height: 32.5rem;
    margin-right: 2rem;
}

/*-- Tarjetas/ Imagenes Sitios Webs --*/

.card img{
    width: 16rem;
    height: auto;
    margin-bottom: 1.25rem;
    border-radius: 0.9rem;
    box-shadow: 0rem 0rem 0.6rem 0.25rem rgb(0 0 0 / 11%);
}

/*-- Tarjetas/ Logos + Nombres Sitios Webs --*/

.icon-name{
    display: flex;
    vertical-align: middle;
}

.icon-name img{
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    box-shadow: none;
}

.icon-name h2{
    margin: 0.2rem 0.6rem;
    font-size: 1rem;
}


/*-- Tarjetas/ Lista de Características --*/

.card .btn-primary{
    padding: 0.6rem 2rem;
}


/*DISPOSITVOS 820px BANNER & CARDS*/

@media (max-width:820px) {

    /*-- Header/ fondo blur + Logo --*/

    h1{
        font-size: 2.6rem;
    }

    .logo img{
        width: 2.4rem;
        margin-top: 0.25rem;
    }

/*-- Header/ Nav Menú --*/

.header-content{
    padding: 4%;
    width: 100%;
}
.menu{
    display: none;
    font-size: 1.8rem;
    line-height: 3;
}

.menu-icon, .cerrar{
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.contenido-modal {
    background-color: white;
    padding-top: 55%;
    border-radius: 10px;
    width: 100vw;
    height: 100vh;
    padding-left: 10%;
    position: relative;
    flex: 1000;
}

#pop-up:target {
    display: flex;
}

#pop-up:target .menu {
    display: block;
  }
  

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 3rem;
}


/* Mostrar solo el icono ☰ por defecto */

#abrir-menu {
    display: inline-block;
    z-index: 1000;
  }
  #cerrar-menu {
    display: none;
  }
  
  /* Cuando el modal está abierto (target), intercambia los iconos */
  #pop-up:target ~ header .menu-icon#abrir-menu {
    display: none;
  }
  #pop-up:target ~ header .cerrar#cerrar-menu {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    z-index: 1000;
  }

  #pop-up:target ~ #main .video-container {
    display: none;
}
  

/*-- Main / Banner --*/

    .banner-section #banner{
        width: 23rem;
        border-radius: 0.8rem;
    }

/*---Se mantiene: Header/ Títulos + Contenido + Botón Primario---*/

/*6 SECCIONES (Mismos estilos)*/

/*-- Tarjetas/ Imagenes Sitios Webs --*/
    
.card img{
    width: 13.2rem;
}

/*-- Tarjetas/ Logos + Nombres Sitios Webs --*/
    
.icon-name img{
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: none;
}

.icon-name h2{
    margin: 3px 10px;
    font-size: 0.8rem;
}
    
/*-- Se mantiene: Sección Tarjetas + Tarjeta --*/
    
/*-- Se mantiene: Header/ Nav Menú --*/
    
/*-- Se mantiene: Header/ Links Menú + Hover--*/
    
/*-- Se mantiene: Header/ fondo blur + Logo --*/
     
/*-- Se mantiene: Header/ Títulos + Contenido + Botón Primario --*/
    
/*-- Se mantiene: Tarjetas/ Lista de Características --*/
    
/*-- Se mantiene: Footer/ Foto de Perfil --*/
    
    }
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    padding: 4%;
    background-color: #e7dcdc;
}

/*-- Footer/ Foto de Perfil --*/

footer img{
    width: 80px;
}

/*-- Se mantiene: Footer/ Info Perfil y Fuentes (source) --*/


/*-- Dispositivos 768px --*/
@media (max-width:768px) {



/*-- Main / Banner --*/

    .banner-section #banner{
        width: 22rem;
    }
    
    
/*---Header/ Títulos + Contenido + Botón Primario---*/
    
    .banner-content{ 
        padding: 2.8rem;
    }


/*CARDS & FOOTER*/
    p{
        margin: 1rem;
    }
    .card, footer{
        font-size: 0.8rem;
    }
}


/*-- Dispositivos 576px --*/
@media (max-width:576px) {

    #introduction, #inspiration, #organization, #creativity-design, #productivity, footer{
        padding: 5%;
        width: 100%;
    }

    /*-- Main / Banner --*/
    main .banner-section{
        display: block;
        padding: 5%;
        width: 100%;
    }
    
    .banner-section #banner{
        width: 100vw;
    }
    
    
    /*---Header/ Títulos + Contenido + Botón Primario---*/
    
    .banner-content{ 
        padding: 0rem;
        margin-top: 2rem;
    }
    
    h3{
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    .btn-primary{
        border-radius: 0.7rem;
        padding: 0.8rem 1.25rem;
        font-size: 1.2rem;
    }
    
    
    span{
        padding: 0.4rem 0.6rem;
        border-radius: 0.7rem;
        font-size: 1.2rem;
    }
    
    
    /*6 SECCIONES (Mismos estilos)*/
    
    /*-- Sección Tarjetas + Tarjeta --*/
    
    .cards{
        display: block;
    }
    
    .card{
        width: 32rem;
        height: 45rem;
    }
    
    /*-- Tarjetas/ Imagenes Sitios Webs --*/
    
    .card img{
        width: 30rem;
        margin-bottom: 1.25rem;
        border-radius: 0.9rem;
        box-shadow: 0rem 0rem 0.6rem 0.25rem rgb(0 0 0 / 11%);
    }
    
    /*-- Tarjetas/ Logos + Nombres Sitios Webs --*/

    
    .icon-name img{
        width: 3rem;
        height: 3rem;
    }
    
    .icon-name h2{
        margin: 0.2rem 1rem;
        font-size: 1.6rem;
    }
    
    
    /*-- Tarjetas/ Lista de Características --*/
    
    .card ul, p{
        line-height: 1.5;
        margin-bottom: 5%;
        font-size: 1rem;
    }
    
    /*FOOTER*/
    
    footer{
        display: block;
        justify-content: space-between;
        padding: 4%;
        background-color: #e7dcdc;
        font-size: 1.2rem;
    }
    
    /*-- Footer/ Foto de Perfil --*/
    
    footer img{
        width: 80px;
        border-radius: 80px;
    }
    
    /*-- Se mantiene: Footer/ Info Perfil y Fuentes (source) --*/
    
    .form{
        padding: 2%;
        margin: 2%;
    }
}


/*-- Dispositivos 430px --*/
@media (max-width:430px) {
    /*-- Header/ fondo blur + Logo --*/

    .menu{
        font-size: 1.4rem;
        line-height: 2.5;
    }

    h1{
        font-size: 2rem;
    }

    .logo img{
        width: 2rem;
    }


    #introduction, #inspiration, #organization, #creativity-design, #productivity{
        padding: 6%;
    }

    /*-- Main / Banner --*/
    main .banner-section{
        display: block;
        padding: 5%;
    }
    
    .banner-section #banner{
        width: 90vw;
    }
    
    
    /*---Header/ Títulos + Contenido + Botón Primario---*/
    
    .banner-content{ 
        padding: 0rem;
        margin-top: 2rem;
    }

    .intro{
        display: none;
    }

    .mobile-intro{
        display: block;
    }
    
    h3{
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .btn-primary{
        border-radius: 0.7rem;
        padding: 0.8rem 1.25rem;
        font-size: 1.2rem;
    }
    
    
    span{
        padding: 0.4rem 0.6rem;
        border-radius: 0.7rem;
        font-size: 1.2rem;
    }
    
    
    /*6 SECCIONES (Mismos estilos)*/
    
    /*-- Sección Tarjetas + Tarjeta --*/
    
    .cards{
        display: block;
    }
    
    .card{
        width: 88vw;
        height: 600px;
    }
    
    /*-- Tarjetas/ Imagenes Sitios Webs --*/
    
    .card img{
        width: 100%;
        margin-bottom: 1.25rem;
        border-radius: 0.9rem;
        box-shadow: 0rem 0rem 0.6rem 0.25rem rgb(0 0 0 / 11%);
    }
    
    /*-- Tarjetas/ Logos + Nombres Sitios Webs --*/

    
    .icon-name img{
        width: 3rem;
        height: 3rem;
    }
    
    .icon-name h2{
        margin: 0.2rem 1rem;
        font-size: 1.6rem;
    }
    
    
    /*-- Tarjetas/ Lista de Características --*/
    
    .card ul, p{
        line-height: 1.5;
        margin-bottom: 5%;
        font-size: 1rem;
    }
    
    /*FOOTER*/
    
    footer{
        font-size: 1.2rem;
    }

    /*-- Footer/ Foto de Perfil --*/

    .profile{
        text-align: center;
    }
    
    /*-- Se mantiene: Footer/ Info Perfil y Fuentes (source) --*/
    
}



